<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/twit" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Post Now</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter text">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<ul>
    {{twitposts[0]}}
</ul>
</body>
</html>